# development artifacts
.cache
coverage

# dependencies
pkg
vendor

# tooling files
Makefile.properties

# binaries
## NOTE: change the below to your binary name to avoid pushing your potentially huge binary
goboil
## /NOTE